
.edit-button {
  border-color: $green2;
  background-color: $green2;
  color: $white2;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
    &:hover {
    background: $white2;
    color: $green2;
    border: 1px solid $green2;
    box-shadow: 0 0px 10px $green2;
  }
}

.header {
  color: $white2;
  margin-bottom: 2rem;
}
