$font: Avenir, Helvetica, Arial, sans-serif;
$textColor1: #2c3e50;
$green1: #42b983;
$green2: #00bc77;
$black1: #222;
$white1: #ccc;

html {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $textColor1;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
